<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" xmlns="http://www.w3.org/1999/html" style="padding-bottom:0px ! important;">
  <div class="container topnav">
    <div class="navbar-header">
      <%= link_to "Excellara", root_path, class: "navbar-brand topnav"%>
    </div>

    <!--<ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Opportunities", root_path %></li>
          <li><%= link_to "Candidates", root_path %></li>
          <li><%= link_to "About", root_path %></li>
          <li><%= link_to "Team", root_path %></li>
          <li><%= link_to "Sign-up", root_path %></li>
      </ul>
    </ul>-->
  </div>
</nav>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 align="center" style="padding-top: 100px">Please Complete the Application Below</h1>
    <br>
    <%= form_tag url_for(:controller => 'launch_page', :action => 'send_email'), :method => 'get' do  %>
        <%= hidden_field_tag :opp_apply, @opp%>
        <%= text_field_tag :name_apply, nil,  class: 'form-control', placeholder: "Name" %>
        <br>
        <%= text_field_tag :email_apply, nil, class: 'form-control', placeholder: "email@example.com" %>
        <br>
        <%= text_area_tag :text_apply, nil, class: 'form-control', rows: 10, placeholder: "Enter message here"  %>
        <br>
        <div align="center">
          <%= submit_tag "Apply", class: "btn btn-success", style: "width: 200px"%>
        </div>
    <% end %>
  </div>
</div>