<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" xmlns="http://www.w3.org/1999/html">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Excellara</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="#current">Opportunities</a>
                  </li>
                  <li>
                    <a href="#candidate">Candidates</a>
                  </li>
                    <li>
                        <a href="#services">About</a>
                    </li>
                    <li>
                        <a href="#team">Team</a>
                    </li>
                    <li>
                        <a href="#contact">Sign-up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



    <!-- Header -->
    <div class="intro-header">
      </br>
        <div class="container">
          <% flash.each do |message_type, message| %>
              <div style="padding-top: 20px" class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 style="text-shadow: 0px 0px 30px #000, -1px -1px #000, 1px 1px #000">Excellara</h1>
                        <h3 style="text-shadow: 0px 0px 30px #000, -1px -1px #000, 1px 1px #000">Connecting Businesses with Experienced Help</h3>
                        <hr class="intro-divider">
                        <!--<ul class="list-inline intro-social-buttons">
                            <li>, :style => "text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000"
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

        <!-- Page Content -->
<a  name="services"></a>
    <div class="content-section-b">
        <div align="center">
              <div class="container">
                <div class="row">
                    <hr align="center" class="section-heading-spacer2">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">&nbsp Excellara is an online platform that matches semi-retired professionals with businesses
                      looking to hire experienced help on a part-time or contract basis.  Qualified professionals may come from a variety
                      of industries including accounting, law, manufacturing, healthcare, and academia. <br></h3>
                  <div class="form-inline">
                    <%= form_for home_path, :method => "GET" do%>
                        <%= text_field_tag :name2, nil, placeholder: "Name", :style => "color: black", class: 'form-control' %>
                        <%= text_field_tag :email2, nil, placeholder: "Email", :style => "color: black", class: 'form-control' %>
                        <%= submit_tag "Sign-Up For Pilot", class: "btn btn-primary"%> </br></br></br>
                    <% end %>
                    </div>
                </div>
              </div>
        </div>
    </div>


    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Benefits for Small Businesses:<br></h2>
                    <ul class="lead">
                        <li>Save time by selecting from an exclusive pool of candidates</li> </br>
                        <li>Lower hiring costs by minimizing training</li></br>
                        <li>High quality work for a reasonable price</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag "innovation.jpg", :class => "img-responsive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Benefits for Retirees<br></h2>
                    <ul class="lead">
                        <li>Make money to put towards that vacation you deserve</li></br>
                        <li>Keep your skills sharp while working for a company who appreciates you</li></br>
                        <li>Flexible work hours so you have time off to enjoy retired life</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag "computer.jpg", :class => "img-responsive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
<a  name="current"></a>
    <div class="content-section-a">
      <div class="container">
        <div align="center">
          <div class="row">
            <h1 class="section-heading" align="center">Opportunities</h1>
            <div style="width: 500px">
              <hr class="section-heading-spacer2" align="center">
              <div class="clearfix"></div>
              <h2 class="section-heading">Priority Management, Sales, Vancouver<br></h2>
              <ul class="lead">
                <p align="left">
                  Looking for Dixie ……
                  <br>
                  <br>
                  We’re trying to replace Dixie.
                  <br>
                  Your name doesn’t have to be Dixie.  You don’t have to be 65 years young like the
                  woman we hired named Dixie who was with us for six years before she left to go to the
                  US and start her own business.  You don’t have to work only mornings and refuse to
                  drive all over the lower mainland like Dixie did.  Nor must you have the best writing
                  skills EVER, as Dixie had.
                  <br>
                  What you DO need is the drive and ability to make contacts, build relation-ships and
                  close business, just like Dixie did.
                  <br>
                  Has your career as a professional sales person in your last position wound down?
                  Would you like to work in a part-time customer account position with a 35 year old
                  Vancouver based company doing business in more than 70 offices around the world?
                  We’re <i>Priority Management</i>, a company delivering effectiveness and productivity
                  training to small and large businesses, organizations of all descriptions and to different
                  levels of government.  And we are looking for an individual to represent us in the lower
                  mainland.
                  <br>
                  We are well respected in the industry and known to offer a premium product at a
                  premium price.  Our market is growing and we are looking for individuals who love
                  talking to people, uncovering their needs and helping them find solutions.
                  Join our dynamic team and stay active in business at your own pace, with like-minded
                  people who really make a difference in their customers’ lives.

                <p align="center"><i>Come, be our new Dixie.</i></p>
                <div class="form-inline">
                  <%= form_tag url_for(:controller => 'launch_page', :action => 'apply'), :method => 'get' do %>
                      <%= hidden_field_tag :opp_apply, "Priority Management, Sales, Vancouver"%>
                      <%= submit_tag "Apply", class: "btn btn-success"%> </br></br></br>
                  <% end %>
                </div>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
<a  name="candidate"></a>
<div class="content-section-b">

  <div class="container">
    <div align="center">
      <div class="row">
        <h1 class="section-heading" align="center">Candidates</h1>
        <div style="width: 500px; display: inline-block">
          <hr class="section-heading-spacer2" align="center">
          <div class="clearfix"></div>
          <h2 class="section-heading">Brian Cole, Vancouver<br></h2>
          <ul class="lead">
            <p align="left">Brian holds a Bachelor of Applied Science in Electrical Engineering from the University
              of Toronto and a Masters Degree in Business Administration from the Ivey School of
              Business at the University of Western Ontario.  Brian worked as a member of the
              management group at Vancouver Community College where he was responsible for
              their Business Continuing Studies program and marketing their training programs to
              Businesses, the Government, and other Organizations. Brian has taught numerous
              subjects in the fields of business and marketing at Simon Fraser University, BCIT, and
              Kwantlen University.  His business experience includes Senior Management positions
              with General Telephone and Electronics (GTE) (now Verizon ), Enbridge and operating
              his own consulting company.  Brian has considerable International experience and
              connections in a number of countries including the Peoples, Republic of China
              and other parts of Asia.  Brian keeps involved with community initiatives in his roles as
              Chairman, Canada Singapore Business Association, Greater Vancouver Advisory Board
              and Chair, Advisory Board, Belkin Housel, Salvation Army, and Director, Ivey Business
              School BC Alumni Association.
              <br><br>
              Brian is seeking a part-time position that will allow him to utilize his skills and experience
              in leadership, general management, marketing, strategic planning or sales in either a for profit
              or non profit organization.
            </p>
            <div class="form-inline">
              <%= form_tag url_for(:controller => 'launch_page', :action => 'apply'), :method => 'get' do%>
                  <%= hidden_field_tag :opp_apply, "Brian Cole, Vancouver"%>
                  <%= submit_tag "I'm Interested", class: "btn btn-success"%> </br></br></br>
              <% end %>
            </div>
          </ul>
        </div>

        <div style="width: 500px;display: inline-block; vertical-align: top">
          <hr class="section-heading-spacer2" align="center">
          <div class="clearfix"></div>
          <h2 class="section-heading">Dustin Caldwell, Vancouver<br></h2>
          <ul class="lead">
            <p align="left">Dustin has a background in the banking industry and worked his way up from a savings
              teller to a credit officer during his career at the bank.  After moving away from the finance industry,
              he found his place in the healthcare industry working as a caretaker for the elderly and children.
              Dustin loves interacting with people and has a special talent for taking care of people and making them
              feel comfortable.  His colleagues would describe him as intuitive and attentive. Dustin is looking for
              a part-time job where he could continue to use his experience in either the banking or healthcare
              industries.  He enjoys a job that allows him to remain independent and work with people.
            </p>
            <div class="form-inline">
              <%= form_tag url_for(:controller => 'launch_page', :action => 'apply'), :method => 'get' do%>
                  <%= hidden_field_tag :opp_apply, "Dustin, Vancouver"%>
                  <%= submit_tag "I'm Interested", class: "btn btn-success"%> </br></br></br>
              <% end %>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

</div>

<a  name="team"></a>
    <div class="content-section-a">

        <div  class="container">

            <div align="center">
            <hr align="center" class="section-heading-spacer2">
            <div class="clearfix"></div>
            <h2 class="section-heading">Our Team</h2>
            </div>

            <div class="row">

              <div class="col-md-4" align="center">
                  <%= image_tag "lauren.jpg", :class => "img-circle", :width => "150", :align => "middle" %>
                <br><br><p>Lauren Watkins <br>Co-founder <br> Business Lead</p>
              </div>
              <div class="col-md-4" align="center">
                  <%= image_tag "james.jpg", :class => "img-circle", :width => "150", :align => "middle" %>
                <br><br><p>James Crocker <br>Co-founder <br> Technical Lead</p>
                </div>
              <div class="col-md-4" align="center">
                  <%= image_tag "nikita.jpg", :class => "img-circle", :width => "150", :align => "middle" %>
                <br><br><p>Nikita Zhitkevich <br>Co-founder <br> Product Lead</p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
              <div align="center">
              <div align="center">
                <%= image_tag "bryan.jpg", :class => "img-circle", :width => "150", :align => "middle" %>
                <br><br><p>Bryan Kerdman <br> Advisor</p>
              </div>
              </div>
            </div>
        </div>
       
    </div>
    <!-- /.content-section-a -->

  <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                <h2 style="text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000">Leave your email and we'll let you know when we're up and running!</h2></br>
                </div>
                <div class="col-lg-6">
                  <div id="sign-up">
                    <%= form_for home_path, :method => "GET" do%>
                    <div><%= text_field_tag :name, nil, placeholder: "Name", :style => "color: black" %></div></br>
                    <div><%= text_field_tag :email, nil, placeholder: "example@email.com", :style => "color: black" %></div></br>
                    <%= radio_button_tag(:role, "hireRP", :checked => "checked")%>
                    <%= label_tag(:role_desc, "I'm Interested In Hiring Retired Professionals", :style => "text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000") %> </br>
                    <%= radio_button_tag(:role, "hireMBA")%>
                    <%= label_tag(:role_desc, "I'm Interested In Hiring Recent Graduates", :style => "text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000") %> </br>
                    <%= radio_button_tag(:role, "work")%>
                    <%= label_tag(:role_desc, "I'm Here to To Find Short Term Work", :style => "text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000") %> </br> </br>
                    <%= label_tag(:role_desc, "Which field are you interested in?", :id =>"dynamic_label", :style => "text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000") %> </br>
                    <%= text_field_tag :field, nil, placeholder: "Law, accounting etc.", :style => "color: black" %> </br> </br>
                    <!--<script>
                      function changeText(){
                          var label_text = "";
                          if (document.getElementById('role_hireRP').checked || document.getElementById('role_hireMBA').checked) {
                              label_text = "Which field are you hiring in?";
                          } else if (document.getElementById('role_work').checked) {
                              label_text = "Which field are you trained in?";
                          }
                          document.getElementById('dynamic_label').innerHTML = label_text;
                      }
                    </script> -->

                    <%= submit_tag "Sign Me Up!", class: "btn btn-primary"%> </br></br></br>

                  <% end %>
                </div>
                    <!-- <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul> -->
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
      <div align="center">
       <h4> We’d love to hear from you! Please <a href="mailto:lauren@excellara.com" style="color: blue" onmouseover="this.style.backgroundColor='white'">e-mail</a> us if you have any questions or concerns!</h4>
      </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small" align="right"> Excellara 2015. </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59614405-1', 'auto');
  ga('send', 'pageview');

</script>
    <!-- jQuery -->
    <!--<script src="jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="bootstrap.min.js"></script>-->

