<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" xmlns="http://www.w3.org/1999/html">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Excellara</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Sign-up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 style="text-shadow: 0px 0px 30px #000, -1px -1px #000, 1px 1px #000">Excellara</h1>
                        <h3 style="text-shadow: 0px 0px 30px #000, -1px -1px #000, 1px 1px #000">Connecting Businesses with Experienced Help</h3>
                        <hr class="intro-divider">
                        <!--<ul class="list-inline intro-social-buttons">
                            <li>, :style => "text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000"
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

  <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Benefits for Small Businesses:<br></h2>
                    <ul class="lead">
                        <li>Save time by selecting from an exclusive pool of candidates</li> </br>
                        <li>Lower hiring costs by minimizing training</li></br>
                        <li>High quality work for a reasonable price</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag "innovation.jpg", :class => "img-responsive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Benefits for Retirees<br></h2>
                    <ul class="lead">
                        <li>Make money to put towards that vacation you deserve</li></br>
                        <li>Keep your skills sharp while working for a company who appreciates you</li></br>
                        <li>Flexible work hours so you have time off to enjoy retired life</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag "computer.jpg", :class => "img-responsive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
<a  name="about"></a>
    <div class="content-section-a">

        <div  class="container">

            <div align="center">
            <hr align="center" class="section-heading-spacer2">
            <div class="clearfix"></div>
            <h2 class="section-heading">Our Team</h2>
            </div>

            <div class="row">

              <div class="col-md-4" align="center">
                  <%= image_tag "lauren.jpg", :class => "img-circle", :width => "150", :align => "middle" %>
                <br><br><p>Lauren Watkins <br> Business Lead</p>
              </div>
              <div class="col-md-4" align="center">
                  <%= image_tag "james.jpg", :class => "img-circle", :width => "150", :align => "middle" %>
                <br><br><p>James Crocker <br> Technical Lead</p>
                </div>
              <div class="col-md-4" align="center">
                  <%= image_tag "nikita.jpg", :class => "img-circle", :width => "150", :align => "middle" %>
                <br><br><p>Nikita Zhitkevich <br> Product Lead</p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
              <div align="center">
              <div align="center">
                <%= image_tag "bryan.jpg", :class => "img-circle", :width => "150", :align => "middle" %>
                <br><br><p>Bryan Kerdman <br> Advisor</p>
              </div>
              </div>
            </div>
        </div>
       
    </div>
    <!-- /.content-section-a -->

  <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                <h2 style="text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000">Leave your email and we'll let you know when we're up and running!</h2></br>
                </div>
                <div class="col-lg-6">
                  <div id="sign-up">
                    <%= form_for home_path, :method => "GET" do%>
                    <div><%= text_field_tag :email, nil, placeholder: "example@email.com", :style => "color: black" %></div></br>
                    <%= radio_button_tag(:role, "hireRP", :checked => "checked")%>
                    <%= label_tag(:role_desc, "I'm Interested In Hiring Retired Professionals", :style => "text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000") %> </br>
                    <%= radio_button_tag(:role, "hireMBA")%>
                    <%= label_tag(:role_desc, "I'm Interested In Hiring Recent Graduates", :style => "text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000") %> </br>
                    <%= radio_button_tag(:role, "work")%>
                    <%= label_tag(:role_desc, "I'm Here to To Find Short Term Work", :style => "text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000") %> </br> </br>
                    <%= label_tag(:role_desc, "Which field are you interested in?", :id =>"dynamic_label", :style => "text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000") %> </br>
                    <%= text_field_tag :field, nil, placeholder: "Law, accounting etc.", :style => "color: black" %> </br> </br>
                    <!--<script>
                      function changeText(){
                          var label_text = "";
                          if (document.getElementById('role_hireRP').checked || document.getElementById('role_hireMBA').checked) {
                              label_text = "Which field are you hiring in?";
                          } else if (document.getElementById('role_work').checked) {
                              label_text = "Which field are you trained in?";
                          }
                          document.getElementById('dynamic_label').innerHTML = label_text;
                      }
                    </script> -->

                    <%= submit_tag "Sign Me Up!", class: "btn btn-primary"%> </br>
                    <% flash.each do |message_type, message| %>
                    <div style="padding-top: 20px" class="alert alert-<%= message_type %>"><%= message %></div>
                  <% end %>
                  <% end %>
                </div>
                    <!-- <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul> -->
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   
                    <!--<ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>-->
                    <p class="copyright text-muted small">Excellara 2015.</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59614405-1', 'auto');
  ga('send', 'pageview');

</script>
    <!-- jQuery -->
    <!--<script src="jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="bootstrap.min.js"></script>-->          

